
@{
    ViewBag.Title = "FinalizarCompra";
}

<h2 class="text-center">Gracias por la compra</h2>
<img class="center-block" src="~/fonts/Imagenes/carrito.jpg" alt="Alternate Text" />
@Html.ActionLink("Pantalla Principal","Index","Home",null,null)

