@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Sistema Ventas Tecno CR</h1>
</div>
<img class="center-block"  src="~/fonts/Imagenes/venta-de-computadoras1.jpg" alt="Alternate Text" />
